.the-end-of-the-world.sheet.actor {
  min-width: 600px;
}

.the-end-of-the-world .window-content {
  background: #dde3e2;
}

.the-end-of-the-world.sheet.item {
  min-width: 320px;
  min-height: 320px;
}

.teotw-character-sheet {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(5, min-content) 1fr;
}

.teotw-sheet {
  $white: #ffffff;
  $gray-1: #dde3e2;
  $gray-2: #869997;
  $gray-3: #476865;
  $red: #be4a4b;
  $black: #000000;

  .cursor-pointer {
    cursor: pointer;
  }

  /* Grid */

  .grid {
    display: grid;
  }

  .grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gap-small {
    gap: 1px;
  }

  .gap-medium {
    gap: 4px;
  }

  /* Flex */

  .flex {
    display: flex;
  }

  .flex-1 {
    flex: 1;
  }

  .align-items-center {
    align-items: center;
  }

  .justify-content-space-between {
    justify-content: space-between;
  }

  /* Color */

  .background-gray-3 {
    background-color: $gray-3;
  }

  .background-red {
    background-color: $red;
  }

  .text-gray-1 {
    color: $gray-1;
  }

  .text-gray-3 {
    color: $gray-3;
  }

  .text-white {
    color: $white;
  }

  .text-red {
    color: $red;
  }

  /* Typography */

  .text-align-center {
    text-align: center;
  }

  .text-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .item-edit,
  .item-delete,
  .text-hint {
    color: $gray-2;
  }

  input.clear-input {
    width: auto;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
  }

  input.clear-input:focus {
    box-shadow: none;
  }

  /* Layout */

  .margin-bottom-small {
    margin-bottom: 8px;
  }

  .cell {
    padding: 4px 8px;
    background-color: $gray-1;
  }

  .cell-feature {
    border-bottom: 1px solid $gray-2;
  }

  .cell-stress-gauge {
    border-bottom: 1px solid $gray-2;
  }

  .cell-trauma {
    border-bottom: 1px solid $gray-2;
  }

  .cell-trauma:last-of-type {
    border-bottom: none;
  }

  .cell-equipment {
    height: 44px;
    border: 1px solid $gray-2;
  }

  .box-full {
    border: 1px solid $gray-3;
  }

  .box-equipment {
    padding: 1px;
  }

  .box-open-top {
    border-right: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
  }

  .box-open-bottom {
    border-top: 1px solid $gray-3;
    border-right: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
  }

  .header {
    height: 28px;
    line-height: 28px;
  }

  .popup {
    padding: 8px;
    background-color: $gray-1;
  }

  /* Specific heights */

  .height-feature-list {
    height: 146px;
  }

  /* Stress and resistance */

  .resistance-level {
    width: 32px;
    background-color: #869997;
    line-height: 32px;
  }

  .stress-gauge-tick {
    width: 24px;
    height: 16px;
    border: 2px solid #476865;
  }

  .stress-gauge-tick:first-child {
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
  }

  .stress-gauge-tick:last-child {
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
  }

  .stress-gauge-tick.filled {
    background-color: #869997;
  }

  /* Roll popup */

  .roll-options input {
    display: none;
  }

  .roll-options label {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-top: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
  }

  .roll-options label:hover {
    background-color: $gray-2;
  }

  .roll-options label:last-of-type {
    border-right: 1px solid $gray-3;
  }

  .roll-options input:checked + label {
    background-color: $gray-3;
    color: $gray-1;
  }

  /* Roll result */

  .d6 {
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  .positive {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }

  .negative {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
  }

  .cancelled {
    opacity: 0.35;
  }
}
