<div class="teotw-sheet">
  <div class="margin-bottom-small box-full popup">
    <div
      class="margin-bottom-small flex justify-content-space-between align-items-center"
    >
      <div>{{localize "THEENDOFTHEWORLD.PositiveDice"}}:</div>
      <div class="flex roll-options">
        <input
          checked
          type="radio"
          id="roll-positive-1"
          name="roll-positive"
          value="1"
        />
        <label for="roll-positive-1">1</label>
        <input
          type="radio"
          id="roll-positive-2"
          name="roll-positive"
          value="2"
        />
        <label for="roll-positive-2">2</label>
        <input
          type="radio"
          id="roll-positive-3"
          name="roll-positive"
          value="3"
        />
        <label for="roll-positive-3">3</label>
        <input
          type="radio"
          id="roll-positive-4"
          name="roll-positive"
          value="4"
        />
        <label for="roll-positive-4">4</label>
        <input
          type="radio"
          id="roll-positive-5"
          name="roll-positive"
          value="5"
        />
        <label for="roll-positive-5">5</label>
        <input
          type="radio"
          id="roll-positive-6"
          name="roll-positive"
          value="6"
        />
        <label for="roll-positive-6">6</label>
        <input
          type="radio"
          id="roll-positive-7"
          name="roll-positive"
          value="7"
        />
        <label for="roll-positive-7">7</label>
        <input
          type="radio"
          id="roll-positive-8"
          name="roll-positive"
          value="8"
        />
        <label for="roll-positive-8">8</label>
      </div>
    </div>
    <div class="flex justify-content-space-between align-items-center">
      <div class="roll-popup-label">
        {{localize "THEENDOFTHEWORLD.NegativeDice"}}:
      </div>
      <div class="flex roll-options">
        <input
          checked
          type="radio"
          id="roll-negative-1"
          name="roll-negative"
          value="1"
        />
        <label for="roll-negative-1">1</label>
        <input
          type="radio"
          id="roll-negative-2"
          name="roll-negative"
          value="2"
        />
        <label for="roll-negative-2">2</label>
        <input
          type="radio"
          id="roll-negative-3"
          name="roll-negative"
          value="3"
        />
        <label for="roll-negative-3">3</label>
        <input
          type="radio"
          id="roll-negative-4"
          name="roll-negative"
          value="4"
        />
        <label for="roll-negative-4">4</label>
        <input
          type="radio"
          id="roll-negative-5"
          name="roll-negative"
          value="5"
        />
        <label for="roll-negative-5">5</label>
        <input
          type="radio"
          id="roll-negative-6"
          name="roll-negative"
          value="6"
        />
        <label for="roll-negative-6">6</label>
        <input
          type="radio"
          id="roll-negative-7"
          name="roll-negative"
          value="7"
        />
        <label for="roll-negative-7">7</label>
        <input
          type="radio"
          id="roll-negative-8"
          name="roll-negative"
          value="8"
        />
        <label for="roll-negative-8">8</label>
      </div>
    </div>
  </div>
</div>
