<form autocomplete="off">
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Name"}}</b></h4>
    <input type="text" name="name" value="{{item.name}}" />
  </div>
  <br />
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Type"}}</b></h4>
    <input type="radio" name="system.type" value="noTrauma" id="noTrauma"
    {{#ifEquals system.type "noTrauma"}} checked {{/ifEquals}} />
    <label for="noTrauma">{{localize "THEENDOFTHEWORLD.NoTrauma"}}</label>
    <span>&nbsp;</span>
    <input type="radio" name="system.type" value="1d" id="1d" {{#ifEquals
    system.type "1d"}} checked {{/ifEquals}} />
    <label for="1d">{{localize "THEENDOFTHEWORLD.1D"}}</label>
    <span>&nbsp;</span>
    <input type="radio" name="system.type" value="1w" id="1w" {{#ifEquals
    system.type "1w"}} checked {{/ifEquals}} />
    <label for="1w">{{localize "THEENDOFTHEWORLD.1W"}}</label>
    <span>&nbsp;</span>
    <input type="radio" name="system.type" value="1m" id="1m" {{#ifEquals
    system.type "1m"}} checked {{/ifEquals}} />
    <label for="1m">{{localize "THEENDOFTHEWORLD.1M"}}</label>
  </div>
</form>
