<div class="teotw-sheet">
  <div class="header background-gray-3 text-align-center text-title text-white">
    {{ actor_name }} · {{ localize characteristic_label }}
  </div>
  <div class="popup box-open-top">
    <div class="margin-bottom-small flex justify-content-space-between">
      <div class="flex gap-medium">
        {{#each positive_result_valid}}
        <div class="d6 positive">{{this}}</div>
        {{/each}}
      </div>
      <div class="flex gap-medium">
        {{#each positive_result_cancelled}}
        <div class="d6 positive cancelled">{{this}}</div>
        {{/each}}
      </div>
    </div>
    <div class="flex justify-content-space-between">
      <div class="flex gap-medium">
        {{#each negative_result_valid}}
        <div class="d6 negative">{{this}}</div>
        {{/each}}
      </div>
      <div class="flex gap-medium">
        {{#each negative_result_cancelled}}
        <div class="d6 negative cancelled">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
