<form autocomplete="off">
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Name"}}</b></h4>
    <input type="text" name="name" value="{{item.name}}" />
  </div>
  <br />
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Type"}}</b></h4>
    <input type="radio" name="system.type" id="commonGear" value="commonGear"
    {{#ifEquals system.type "commonGear"}} checked {{/ifEquals}} />
    <label for="commonGear">{{localize "THEENDOFTHEWORLD.CommonGear"}}</label>
    <span>&nbsp;</span>
    <input type="radio" name="system.type" id="weapon" value="weapon"
    {{#ifEquals system.type "weapon"}} checked {{/ifEquals}}/>
    <label for="weapon">{{localize "THEENDOFTHEWORLD.Weapon"}}</label>
    <span>&nbsp;</span>
    <input type="radio" name="system.type" id="armor" value="armor" {{#ifEquals
    system.type "armor"}} checked {{/ifEquals}}/>
    <label for="armor">{{localize "THEENDOFTHEWORLD.Armor"}}</label>
  </div>
  <br />
  {{#ifEquals system.type "weapon"}}
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Damage"}}</b></h4>
    <input type="number" name="system.damage" value="{{system.damage}}" />
  </div>
  <br />
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Dice"}}</b></h4>
    <input type="number" name="system.dice" value="{{system.dice}}" />
  </div>
  {{/ifEquals}} {{#ifEquals system.type "armor"}}
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Resistance"}}</b></h4>
    <input
      type="number"
      name="system.resistance"
      value="{{system.resistance}}"
    />
  </div>
  {{/ifEquals}}
</form>
