<form autocomplete="off">
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Name"}}</b></h4>
    <input type="text" name="name" value="{{item.name}}" />
  </div>
  <br />
  <div>
    <h4><b>{{localize "THEENDOFTHEWORLD.Type"}}</b></h4>
    <input type="radio" name="system.type" value="positive" id="positive"
    {{#ifEquals system.type "positive"}} checked {{/ifEquals}} />
    <label for="positive">{{localize "THEENDOFTHEWORLD.Positive"}}</label>
    <span>&nbsp;</span>
    <input type="radio" name="system.type" value="negative" id="negative"
    {{#ifEquals system.type "negative"}} checked {{/ifEquals}}/>
    <label for="negative">{{localize "THEENDOFTHEWORLD.Negative"}}</label>
  </div>
</form>
