<form autocomplete="off" class="teotw-sheet teotw-character-sheet">
  <!-- Name and title -->
  <div class="flex justify-content-space-between">
    <input
      class="clear-input text-title"
      type="text"
      name="name"
      value="{{actor.name}}"
    />
    <div class="text-title">The End of the World</div>
  </div>

  <!-- Categories -->
  <div class="grid-3-col gap-medium">
    {{#each system.categories as |categorie categorieKey|}}
    <div>
      <div
        class="header background-red text-align-center text-title text-white"
      >
        {{localize categorie.label}}
      </div>
      <!-- Characteristics -->
      <div class="grid-2-col box-open-top">
        {{#each categorie.characteristics as |characteristic
        characteristicKey|}}
        <div class="grid cell">
          <a
            class="text-align-center text-title text-gray-3 roll-characteristic"
            data-characteristic="{{characteristicKey}}"
          >
            {{localize characteristic.label}}
          </a>
          <input
            class="clear-input text-align-center text-title text-gray-3"
            type="number"
            name="system.categories.{{categorieKey}}.characteristics.{{characteristicKey}}.value"
            value="{{characteristic.value}}"
            min="1"
            max="5"
          />
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Features -->
  <div class="grid-3-col gap-medium">
    {{#with actor as |actor|}} {{#each system.categories as |categorie
    categorieKey|}}
    <div>
      <div class="text-align-center text-title text-red">
        <span>{{localize "THEENDOFTHEWORLD.Features"}}&nbsp;</span>
        <a
          class="item-create"
          data-type="feature"
          data-categorie="{{categorieKey}}"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
      <div class="box-full height-feature-list">
        <div>
          {{#each actor.features as |feature featureKey|}} {{#ifEquals
          feature.system.categorie categorieKey}}
          <div
            class="cell cell-feature flex justify-content-space-between"
            data-item-id="{{feature._id}}"
          >
            <div class="flex">
              <div>
                {{#ifEquals feature.system.type "positive"}}<b> +&nbsp; </b
                >{{/ifEquals}} {{#ifEquals feature.system.type "negative"}}<b>
                  -&nbsp; </b
                >{{/ifEquals}}
              </div>
              <div>{{feature.name}}</div>
            </div>
            <div>
              <a class="item-edit"><i class="fas fa-edit"></i></a>
              <a class="item-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          {{/ifEquals}} {{/each}}
        </div>
      </div>
    </div>
    {{/each}} {{/with}}
  </div>

  <!-- Stress and resistances -->
  <div class="grid-3-col gap-medium">
    {{#each system.categories as |categorie categorieKey|}}
    <div
      class="box-open-bottom cursor-pointer"
      id="{{categorieKey}}-stress-gauge-click-target"
    >
      <div class="flex">
        <div class="resistance-level text-title text-align-center text-gray-1">3</div>
        <div class="cell cell-stress-gauge flex flex-1 align-items-center">
          {{#filledStressTick categorie 7 9}}
          <div class="stress-gauge-tick filled"></div>
          {{/filledStressTick}} {{#emptyStressTick categorie 7 9}}
          <div class="stress-gauge-tick"></div>
          {{/emptyStressTick}}
        </div>
      </div>
      <div class="flex">
        <div class="resistance-level text-title text-align-center text-gray-1">2</div>
        <div class="cell cell-stress-gauge flex flex-1 align-items-center">
          {{#filledStressTick categorie 4 6}}
          <div class="stress-gauge-tick filled"></div>
          {{/filledStressTick}} {{#emptyStressTick categorie 4 6}}
          <div class="stress-gauge-tick"></div>
          {{/emptyStressTick}}
        </div>
      </div>
      <div class="flex">
        <div class="resistance-level text-title text-align-center text-gray-1">1</div>
        <div class="cell flex flex-1 align-items-center">
          {{#filledStressTick categorie 1 3}}
          <div class="stress-gauge-tick filled"></div>
          {{/filledStressTick}} {{#emptyStressTick categorie 1 3}}
          <div class="stress-gauge-tick"></div>
          {{/emptyStressTick}}
        </div>
      </div>
      <div
        class="header background-gray-3 text-align-center text-title text-white"
      >
        {{localize "THEENDOFTHEWORLD.StressAndResistance"}}
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Traumas -->
  <div class="grid-3-col gap-medium">
    {{#with actor as |actor|}} {{#each system.categories as |categorie
    categorieKey|}}
    <div>
      <div
        class="header background-gray-3 text-align-center text-title text-white"
      >
        <span>{{localize "THEENDOFTHEWORLD.Traumas"}}&nbsp;</span>
      </div>
      <div class="box-open-top">
        <div>
          {{#each actor.traumas as |trauma traumaKey|}} {{#ifEquals
          trauma.system.categorie categorieKey}}
          <div
            class="cell cell-trauma flex justify-content-space-between"
            data-item-id="{{trauma._id}}"
          >
            {{#ifEquals trauma.system.type "noTrauma"}}
            <div></div>
            {{/ifEquals}} {{#ifEquals trauma.system.type "1d"}}
            <div><b>{{localize "THEENDOFTHEWORLD.1D"}}</b> {{trauma.name}}</div>
            {{/ifEquals}} {{#ifEquals trauma.system.type "1w"}}
            <div><b>{{localize "THEENDOFTHEWORLD.1W"}}</b> {{trauma.name}}</div>
            {{/ifEquals}} {{#ifEquals trauma.system.type "1m"}}
            <div><b>{{localize "THEENDOFTHEWORLD.1M"}}</b> {{trauma.name}}</div>
            {{/ifEquals}}
            <div>
              <a class="item-edit"><i class="fas fa-edit"></i></a>
            </div>
          </div>
          {{/ifEquals}} {{/each}}
        </div>
      </div>
    </div>
    {{/each}} {{/with}}
  </div>

  <!-- Equipment -->
  <div>
    <div class="text-title text-align-center text-red">
      <span>{{localize "THEENDOFTHEWORLD.Equipment"}}&nbsp;</span>
      <a class="item-create" data-type="equipment"
        ><i class="fas fa-plus"></i
      ></a>
    </div>
    <div class="box-full box-equipment">
      <div class="grid-3-col gap-small">
        {{#each actor.equipments as |item key|}}
          <tr>
            <div class="cell cell-equipment" data-item-id="{{item._id}}">
              <div class="flex justify-content-space-between">
                <div>{{item.name}}</div>
                <div>
                  <a class="item-edit"><i class="fas fa-edit"></i></a>
                  <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>
              </div>
              <div class="text-hint">
                {{#ifEquals item.system.type "weapon"}}{{signedNumber
                item.system.damage}} {{localize "THEENDOFTHEWORLD.Damage"}} ·
                {{positiveNegativeDiceCount item.system.dice}}
                {{/ifEquals}}{{#ifEquals item.system.type "armor"}}
                {{signedNumber item.system.resistance}} {{localize
                "THEENDOFTHEWORLD.Resistance"}}{{/ifEquals}}
              </div>
            </div>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</form>
